---
BasedOnStyle: Google
AlignAfterOpenBracket: 'Align'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: 'Left'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'InlineOnly'
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterDefinitionReturnType: 'None'
AlwaysBreakAfterReturnType: 'None'
AlwaysBreakBeforeMultilineStrings: 'false'
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBinaryOperators: 'None'
BreakBeforeBraces: 'Custom'
BraceWrapping:
    AfterClass: 'true'
    AfterControlStatement: 'true'
    AfterEnum: 'true'
    AfterFunction: 'true'
    AfterNamespace: 'false'
    AfterObjCDeclaration: 'true'
    AfterStruct: 'true'
    AfterUnion: 'true'
    AfterExternBlock: 'true'
    BeforeCatch: 'true'
    BeforeElse: 'true'
    SplitEmptyFunction: 'false'
    SplitEmptyRecord: 'false'
    SplitEmptyNamespace: 'false'
BreakBeforeInheritanceComma: 'true'
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: 'AfterColon'
ColumnLimit: '120'
CompactNamespaces: 'true'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
DerivePointerAlignment: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: 'Preserve'
IndentCaseLabels: 'true'
IndentPPDirectives: 'None'
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: 'Cpp'
NamespaceIndentation: 'Inner'
PointerAlignment: 'Middle'
SortIncludes: 'false'
SortUsingDeclarations: 'false'
SpaceAfterCStyleCast: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: 'Never'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: 'Auto'
TabWidth: '4'
UseTab: 'Never'
JavaScriptWrapImports: 'true'
Cpp11BracedListStyle: 'false'

...

