name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag rtlib-docker-image
    - name: Build UTs
      run: | 
        mkdir -p -v build
        docker run --rm --privileged -v ${PWD}:${PWD} -w=${PWD}/build rtlib-docker-image cmake ..
        docker run --rm --privileged -v ${PWD}:${PWD} -w=${PWD}/build rtlib-docker-image make ut
    - name: Run UTs
      run: ./build/ci/ut
