name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag rtlib-docker-image
    - name: Build UTs
      run: | 
        mkdir -p -v build
        docker run --rm --privileged -v ${PWD}:${PWD} -w=${PWD}/build rtlib-docker-image cmake -DCMAKE_BUILD_TYPE=Release ..
        docker run --rm --privileged -v ${PWD}:${PWD} -w=${PWD}/build rtlib-docker-image make ut
    - name: Run UTs
      run: ./build/ci/ut --gtest_output="xml:testresults.xml"
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v1
      with:
        report_paths: 'testresults.xml'
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build performance tests
      run: docker run --rm --privileged -v ${PWD}:${PWD} -w=${PWD}/build rtlib-docker-image make performance_tests
    - name: Run performance tests
      run: ./build/ci/performance_tests
    - name: Generate performace charts
      run: |
        mkdir -p -v reports
        python3 ci/performance_tests/convert_json_to_chart.py --json build/ci/back.json --output reports/back.png
        python3 ci/performance_tests/convert_json_to_chart.py --json build/ci/front.json --output reports/front.png
        python3 ci/performance_tests/convert_json_to_chart.py --json build/ci/middle.json --output reports/middle.png
    - name: Archive results
      uses: actions/upload-artifact@v2
        with:
          name: performance-reports
          path: reports
